<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Woody Stuff</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
    <style>
      .htmx-indicator {
        opacity: 0;
        transition: opacity 500ms ease-in;
      }

      .htmx-request .htmx-indicator {
        opacity: 1;
      }

      .htmx-request.htmx-indicator {
        opacity: 1;
      }

      .btn-with-spinner {
        position: relative;
        padding-right: 2.5rem;
      }

      .spinner-container {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <img
      style="position: absolute; top: 0; left: 0; z-index: -100"
      src="https://cdn.m1-3.ephec-ti.be/5mo.jpg"
      alt="image"
    />
    <div class="container mx-auto px-4 mt-8">
      <h1 class="text-3xl font-bold mb-4">Woody stuff</h1>

      <table class="table-auto border-collapse w-full">
        <thead>
          <tr>
            <th class="px-4 py-2 bg-gray-200 text-gray-600 border-bottom">
              Actions
            </th>
            <th class="px-4 py-2 bg-gray-200 text-gray-600 border-bottom">
              Resultats
            </th>
          </tr>
        </thead>
        <tbody>
          <!--        Misc service-->
          <tr>
            <td class="px-4 py-2 border-bottom">
              <button
                hx-get="/api/misc/time"
                hx-target="#data1"
                hx-indicator="#spinner1"
                class="btn-with-spinner bg-red-500 text-white font-bold py-2 px-4 rounded"
              >
                Short computation
                <span class="spinner-container">
                  <img
                    id="spinner1"
                    class="htmx-indicator"
                    src="https://htmx.org/img/bars.svg"
                  />
                </span>
              </button>
            </td>
            <td class="px-4 py-2 border-bottom">
              <div id="data1" class="border border-gray-300 p-2"></div>
            </td>
          </tr>

          <tr>
            <td class="px-4 py-2 border-bottom">
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Data"
                class="border border-gray-300 p-1 mr-2"
              />
              <button
                hx-get="/api/misc/heavy"
                hx-target="#data3"
                hx-include="[name='name']"
                hx-indicator="#spinner2"
                class="btn-with-spinner bg-red-500 text-white font-bold py-2 px-4 rounded"
              >
                Heavy Computation
                <span class="spinner-container">
                  <img
                    id="spinner2"
                    class="htmx-indicator"
                    src="https://htmx.org/img/bars.svg"
                  />
                </span>
              </button>
            </td>
            <td class="px-4 py-2 border-bottom">
              <div id="data3" class="border border-gray-300 p-2"></div>
            </td>
          </tr>

          <!--Product service-->
          <tr>
            <td class="px-4 py-2 border-bottom">
              <input
                type="text"
                id="product"
                name="product"
                placeholder="Product"
                class="border border-gray-300 p-1 mr-2"
              />
              <button
                hx-get="/api/products"
                hx-target="#data_product"
                hx-include="[name='product']"
                hx-indicator="#spinner3"
                class="btn-with-spinner bg-blue-500 text-white font-bold py-2 px-4 rounded"
              >
                Add Product
                <span class="spinner-container">
                  <img
                    id="spinner3"
                    class="htmx-indicator"
                    src="https://htmx.org/img/bars.svg"
                  />
                </span>
              </button>
            </td>

            <td class="px-4 py-2 border-bottom">
              <div id="data_product" class="border border-gray-300 p-2"></div>
            </td>
          </tr>

          <tr>
            <td class="px-4 py-2 border-bottom">
              <button
                hx-get="/api/products/last"
                hx-target="#data4"
                hx-indicator="#spinner4"
                class="btn-with-spinner bg-blue-500 text-white font-bold py-2 px-4 rounded"
              >
                Get Last product
                <span class="spinner-container">
                  <img
                    id="spinner4"
                    class="htmx-indicator"
                    src="https://htmx.org/img/bars.svg"
                  />
                </span>
              </button>
            </td>
            <td class="px-4 py-2 border-bottom">
              <div id="data4" class="border border-gray-300 p-2"></div>
            </td>
          </tr>

          <!--        Order service-->
          <tr>
            <td class="px-4 py-2 border-bottom">
              <input
                type="text"
                id="order"
                name="order"
                placeholder="Product to buy"
                class="border border-gray-300 p-1 mr-2"
              />
              <button
                hx-get="/api/orders/do"
                hx-target="#data_order"
                hx-include="[name='order']"
                hx-indicator="#spinner5"
                class="btn-with-spinner bg-purple-500 text-white font-bold py-2 px-4 rounded"
              >
                Order Product
                <span class="spinner-container">
                  <img
                    id="spinner5"
                    class="htmx-indicator"
                    src="https://htmx.org/img/bars.svg"
                  />
                </span>
              </button>
            </td>
            <td class="px-4 py-2 border-bottom">
              <div id="data_order" class="border border-gray-300 p-2"></div>
            </td>
          </tr>

          <tr>
            <td class="px-4 py-2 border-bottom">
              <input
                type="text"
                id="order_id"
                name="order_id"
                placeholder="order id"
                class="border border-gray-300 p-1 mr-2"
              />
              <button
                hx-get="/api/orders"
                hx-include="[name='order_id']"
                hx-target="#data_order_id"
                hx-indicator="#spinner6"
                class="btn-with-spinner bg-purple-500 text-white font-bold py-2 px-4 rounded"
              >
                Check order id
                <span class="spinner-container">
                  <img
                    id="spinner6"
                    class="htmx-indicator"
                    src="https://htmx.org/img/bars.svg"
                  />
                </span>
              </button>
            </td>
            <td class="px-4 py-2 border-bottom">
              <div id="data_order_id" class="border border-gray-300 p-2"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
